@import url('https://fonts.googleapis.com/css?family=Nunito');


.menu {
    width: 170px;
    height:100vh;
    position: fixed;
    top: 130px;
    left: 0;
    z-index: 10;
    background-color: rgba(43, 43, 43, 0.95);
    border-radius: 0px 0px 15px 0px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    transform: translateX(-220px);
    opacity: 0;
    visibility: hidden;
    color:white;
}

.fa-bars:hover {
    color: #33d87a;
}

.menu.show {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

.menu-icon {
    color:white;
}

.menu__header {
    height: 10px;
}


.menu__list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: x-large;
    text-decoration: none;
    color:white;
    padding: 15px 0 25px 25px;
    line-height: 140%;
}

.menu__item {
    font-family: 'Nunito', sans-serif;

    margin-top: 0.5rem ;
    padding:25px 0;
    color:white;
    text-decoration: none;
    line-height: 2rem;

}


.menu__item:hover {
    color: #33d87a;
    text-decoration: none;
    line-height: 2rem;
    padding:25px 0;
}


.menu__item_logout {
    color:white;
    text-decoration: none;
    line-height: 2rem;
    cursor: pointer;
}

.menu__item_logout:hover {
    color: red;
    text-decoration: none;
    line-height: 2rem;
    cursor: pointer;
}
