body *, body *:before, body *:after { box-sizing: inherit; }

html, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  line-height: normal;
  text-decoration: none;
}

:focus {
  outline: 0;
}

body {
  font-family: helvetica;
  line-height: 1;
  color: #3e3a3a;
  background: #eeeef2;
  background-size: cover;
}

.gmatimage {
  padding-left: 20px;
}

.p-nav {
  color: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

.App-navbar {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: row;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  background: rgb(43, 43, 43);
  padding: 1em;
}



.play-button{
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #0199d9;
  color: white;
  border-radius: 10px;
  padding: 10px;
}


.login {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 25px;
  padding: 2rem;
  margin: 20% 0 20% 20%;
  max-width: 50%;
  min-width: 50%;

}

